* {
    margin: 0px;
    padding: 0px;
    color: white;
}

/* Krub font*/
p {
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Suez One font*/
h1 {
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
}

/*Header and footer color*/
header,
footer {
    background-color: #CCD5AE;
}

/* Header*/
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Buttons in header*/
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul li a {
    padding: 10px 12px;
    text-decoration: none;
}

/* Home button in header*/
.home-text {
    padding-left: 100px;
    font-size: 50px;
    text-shadow: -5px 3px 0px#D4A373;

    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
}

/*Other buttons in header*/
.header-text {
    font-size: 20px;
    align-items: center;
    padding-right: 100px;
    gap: 20px;

    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Header hover for buttons*/
.header-text li a:hover {
    background-color: #b6be9d;
    border-radius: 20px;
}

/* Main*/
main {
    background-color: #FEFAE0
}

/* The front page*/
.front-page {
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    gap: 30px;
}

/* Text on the front page*/
.front-page p {
    color: #D4A373;
    font-size: 50px;
}

.front-page h1 {
    color: #D4A373;
    font-size: 35px;
}

/* Arrow on front page*/
.front-page h2 {
    padding-top: 20px;
    font-size: 90px;
    color: #D4A373;
}

/* About me text in home section*/
.about-me-home {
    background-color: #FAEDCD;
    height: 550px;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-around;
    gap: 30px;
}

/* About me text in home*/
.about-me-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
    text-align: center;
}

.about-me-text h1,
.about-me-text p {
    color: #D4A373;
    font-size: 20px;
}

.about-me-text h1 {
    font-size: 30px;
}

/* Learn more text*/
.learn-more a {
    color: black;
    font-family: "Krub", sans-serif;
    font-weight: 400;
    text-decoration: none;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.learn-more a:hover {
    text-decoration: underline;
}

/* Section between about me and software developer*/
.between-section {
    height: 75px;
}

/* Software developer section*/
.software-developer {
    height: 85px;
    background-color: #E9EDC9;
}

/* Software developer text*/
.software-developer,
.software-developer p {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 30px;
}

/* The images for the pages on home*/
.pages {
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-img1,
.text-img2,
.text-img3 {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

/* Text beneath the images*/
.pages-pics,
.pages-pics p {
    display: flex;
    justify-content: center;
    gap: 175px;

    color: #D4A373;
    font-size: 20px;
}

/* Hover for the 3 images*/
.text-img1:hover img,
.text-img2:hover img,
.text-img3:hover img {
    transform: translateY(-10px);
}

/* Personal info section*/
.personal-info {
    height: 600px;
    background-color: #FFE5D9;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-around;
    gap: 30px;
}

.personal-text {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

/* Personal info text */
.personal-info h1,
.personal-info p {
    color: black;
    font-size: 35px;
}

.personal-info p {
    font-size: 25px;
}

/* Car image on home*/
.img-home {
    height: 400px;
    display: flex;
    align-items: center;
}

/* Footer */
footer {
    height: 475px;
}

/* Text in footer*/
footer div {
    font-size: 25px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 50px;

}

.footer-contact {
    padding-top: 60px;
}

/* Social icons*/
.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 0%;
}

.linkedin-icon:hover,
.github-icon:hover {
    background-color: #acb493;
    border-radius: 40px;
    transform: scale(1.2);
}

/* Turn footer in a row*/
.footer-all {
    display: flex;
    flex-direction: row;
    padding: 35px;

    gap: 500px;
}

/* Contact*/
.contact {
    background-color: #bac39e;
    border-radius: 20px;
    border-style: solid;
    border-color: #a2aa8a;
    padding: 35px;

    height: 330px;
    width: 300px;
}

.contact h1 {
    font-size: 30px;
}


.email-input {
    width: 200px;
    height: 70px;
    border-radius: 7px;
    background: #bac39e;
    border: solid #a2aa8a;
}

.name-input {
    width: 200px;
    height: 70px;
    border-radius: 7px;
    background: #bac39e;
    border: solid #a2aa8a;
}

.message-input {
    width: 200px;
    height: 170px;
    border-radius: 7px;
    background: #bac39e;
    border: solid #a2aa8a;
}

.contact-send {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 20px;
    background: #a2aa8a;
    border-radius: 12px;
    padding: 5px;

    font-size: 15px;
}

/* Main for all 3 other pages*/
.main-pages {
    background-color: #FEFAE0;
    height: 627px;
}

/* About me page*/
/* About me text block*/
.about-me-everything {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 30px;
}

.about-me-block {
    display: flex;
    justify-self: center;
    padding: 30px;

    height: fit-content;
    width: fit-content;
}

.about-me-textt {
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: left;

    padding: 40px;

    background-color: #FFE5D9;
    width: 360px;
    height: 450px;
}

/* About me text*/
.about-me-textt p,
.about-me-textt h1 {
    color: black;
    font-size: 13px;
    width: 505px;
}

.about-me-textt h1 {
    font-size: 20px;
    width: fit-content;
}

/* Images*/
.img12 {
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-right: 30px;

    height: fit-content;
    width: fit-content;
}

.img34 {
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    height: fit-content;
    width: fit-content;
}

/* Projects page*/
/* Projects text block*/
.projects-everything {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;

    height: fit-content;
}

.projects-text-block {
    display: flex;
    padding-top: 70px;
}

.projects-text {
    display: flex;
    flex-direction: column;
    gap: 18px;

    padding: 40px;

    background-color: #FAEDCD;
    width: 200px;
    height: 275px;
}

/* projects text*/
.projects-text p,
.projects-text h1 {
    color: black;
    font-size: 14px;
    width: fit-content;
}

.projects-text h1 {
    font-size: 20px;
}

.projects-text a {
    color: #16047c;
    text-decoration: none;
}

.projects-text a:hover {
    text-decoration: underline;
}

/* Images position*/
.img-java {
    position: relative;
    top: 35px;
    left: -200px;

    position: relative;
    width: fit-content;
    height: fit-content;
}

.img-web {
    position: relative;
    top: -50px;
    left: -100px;

    width: fit-content;
    height: fit-content;
}

/*Experience page*/
/* Experience text block*/
.experience-block {
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
}

.experience-text {
    display: flex;
    flex-direction: row;
    gap: 35px;

    padding: 40px;

    background-color: #E9EDC9;
    width: 860px;
    height: 180px;
}

/* experience text*/
.experience-text p,
.experience-text h1 {
    color: black;
    font-size: 13px;
    width: 250px;
}

.experience-text h1 {
    font-size: 20px;
    padding-bottom: 18px;
}

/* Image */
.experience-img {
    width: fit-content;
    height: fit-content;

    position: relative;
    top: -37px;
    left: 765px;
}